<% layout('layouts/boilerplate') %>
    <title> Salester-Shop - Kids - Hlače/Trenerke</title>
    <link rel="stylesheet" href="/css/cardHeight.css">
    
        <div id="rowColumn" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 d-flex flex-row flex-wrap justify-content-center m-0">
            <% for(let product of products) {%>
            <div id="colRow" class="col mt-3 p-1 justify-content-center">
                <a href="/product/<%= product.category%>/<%= product.subcategory %>/<%= product.name %>/<%= product.id %>" class="justify-content-center">
                        <div id="cardHome" class="card shadow m-0">
                            <div id="cardHeaderHome" class="card-header text-center">
                                <img src="<%= product.links[0] %>" alt="img">
                            </div>
                            <div id="cardBodyHome" class="card-body">
                                <h5>
                                    <%= product.name %> - <%= product.info %>
                                </h5>
                                <h3>
                                    <%= product.neto_price %> €
                                </h3>
                            </div>
                        </div>
                    </a>
                    </div>
                    <% } %>
                </div>