<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/cart.css">

<div id="myCart" class="myCart mt-5 p-2">
        <% if(items.length) {%>
            <table class="table p-2">
                <thead>
                    <tr class="text-center">
                        <th class="col bg-primary">Product</td>
                        <th class="col bg-success">Quantity</td>
                        <th class="col bg-primary">Subtotal</td>
                    </tr>
                </thead>
                <tbody>
                    <% for (products of sizes) { %>
                        <% for (product of products) { %>
                            <tr>
                                <td>
                                    <div class="card flex-md-column flex-lg-row">
                                        <div class="card-header ms-auto me-auto m-0 p-0">
                                            <div id="carousel<%= product.sku_num %>"
                                                class="carousel slide col d-inline-flex ms-auto me-auto">
                                                <div class="carousel-inner">
                                                    <% product.img_link.forEach((img, i)=>{%>
                                                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                                            <img class="img-fluid rounded" alt="" src="<%= img %>"
                                                                style="height: 150px; width: 150px;">
                                                        </div>
                                                        <% }) %>
                                                </div>
                                                <% if(product.img_link.length> 1) {%>
                                                    <button class="carousel-control-prev" type="button"
                                                        data-bs-target="#carousel<%= product.sku_num %>"
                                                        data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="visually-hidden">Previous</span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button"
                                                        data-bs-target="#carousel<%= product.sku_num %>"
                                                        data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="visually-hidden">Next</span>
                                                    </button>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h2 class="d-inline-block">
                                                <%= product.name %>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-4 text-center align-middle p-0">
                                    <form action="/edit_qty" method="post">
                                        <% for(qty of cart) {%>
                                            <% if(qty.sku==product.sku_num) {%>
                                                <input type="hidden" value="<%= product.sku_num %>" name="id">
                                                <input type="submit" id="minus" name="minus" value="-">
                                                <input type="text" class="col-1 text-center" id="qty" name="qty"
                                                    value="<%= qty.qty %>" readonly>
                                                <input type="submit" id="plus" name="plus" value="+">
                                    </form>
                                </td>
                                <td class="col-4 text-center align-middle">
                                    <div class="row row-cols-2 g-0">
                                        <div class="col">
                                            <h3 class="card-text">
                                                <%= qty.qty * qty.price %> €
                                            </h3>
                                        </div>
                                        <% } %>
                                            <% } %>
                                                <div class="col">
                                                    <%= product.sku %>
                                                    <a class="btn btn-primary"
                                                        href="/remove/<%=product.sku_num %> ">Remove</a>
                                                </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                                <% } %>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                    <tr>
                                        <td class="align-bottom">
                                            <h1>Total</h1>
                                        </td>
                                        <td></td>
                                        <td class="align-bottom">
                                            <h2 class="text-center">
                                                <%= total.toFixed(2) %> €
                                            </h2>
                                        </td>
                                    </tr>
                </tbody>
            </table>
            <div class="pay">
                <form action="/checkout" method="get">
                    <button class="btn btn-outline-primary">Checkout</button>
                </form>
            </div>
            <%}else { %>
                <h1 class="text-center mt-5">Your cart is empty.</h1>
                
                <%} %>
            </div>

            <!--slider add-->
                
            <div class="row row-cols-3">
                <% for(all of allProducts) {%>
                        <% for(articl of all) {%>
                
                    <div class="card">
                        <div class="card-body">
                            <div id="carousel<%= all.id %>"
                                class="carousel slide col d-inline-flex ms-auto me-auto">
                                <div class="carousel-inner">
                                    <% articl.p_imgdestination.forEach((pic, i)=> {%>
                                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                        <img class="img-fluid rounded" alt="" src="<%= pic %>"
                                        style="height: 150px; width: 150px;">
                                    </div>
                                    <% }) %>
                                </div>  
                            </div>  
                        </div>
                    </div
                </div>
                <% } %>
                <% } %>
            </div>
</div>
            