<% layout('layouts/boilerplate') %>

    <div class="container">
        <% if(items.length) {%>
            <% for (products of items) { %>
                <div class="card shadow-lg mt-3" style="max-height: 350px;">
                    <div class="row">
                        <div class=" col-md-4" id="img1">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <% for (product of products) { %>
                                        <% product.p_imgdestination.forEach((img, i)=>{%>
                                            <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                                                <img class="img-fluid" alt="" src="<%= img %>"
                                                    style=" max-height: 350px">
                                            </div>
                                            <% }) %>

                                                <% if(product.p_imgdestination.length> 1) {%>
                                                    <button class="carousel-control-prev" type="button"
                                                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="visually-hidden">Previous</span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button"
                                                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="visually-hidden">Next</span>
                                                    </button>
                                                    <% } %>
                                                        <%} %>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-8">
                            <div class="card-body">
                                <h1 class="card-title">
                                    <%= product.p_name%>
                                </h1>
                                <h3 class="card-text">
                                    <small class="text-muted">
                                        <%= product.p_price %> €
                                    </small>
                                </h3>

                                <a class="btn btn-primary mt-5" href="/remove/<%=product.id %> ">Remove</a>

                            </div>
                        </div>
                    </div>
                </div>

                <%} %>
                    <%}else { %>
                        <h1>Your cart is empty.</h1>
                        <%} %>
    </div>