<% layout('layouts/boilerplate') %>


    <% if(items.length) {%>
        <div class="myCart mt-5 mb-5">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th class="col bg-primary">Product</td>
                        <th class="col bg-success">Quantity</td>
                        <th class="col bg-primary">Subtotal</td>
                    </tr>
                </thead>
                <tbody>
                    <% for (products of items) { %>
                        <% for (product of products) { %>
                            <tr>
                                <td>
                                    <div class="row row-cols-2">
                                        <div class="col-3 bg-info">
                                            <div id="carousel<%= product.id %>"
                                                class="carousel slide col d-inline-block bg-dark">
                                                <div class="carousel-inner">
                                                    <% product.p_imgdestination.forEach((img, i)=>{%>
                                                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                                            <img class="img-fluid" alt="" src="<%= img %>"
                                                                style="height: 100px; width: 100px; border-radius: 50%">
                                                        </div>
                                                        <% }) %>
                                                </div>
                                                <% if(product.p_imgdestination.length> 1) {%>
                                                    <button class="carousel-control-prev" type="button"
                                                        data-bs-target="#carousel<%= product.id %>"
                                                        data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="visually-hidden">Previous</span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button"
                                                        data-bs-target="#carousel<%= product.id %>"
                                                        data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="visually-hidden">Next</span>
                                                    </button>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h1 class="d-inline-block">
                                                <%= product.p_name %>
                                            </h1>
                                            <h5 class="card-title">
                                                <%= product.p_desc%>
                                            </h5>

                                        </div>
                                    </div>
                                </td>
                                <td class="col-4 text-center align-bottom">
                                    <form action="/edit_qty" method="post">
                                        <input type="hidden" value="<%= product.id %>" name="id">
                                        <input type="submit" id="minus" name="minus" value="-">

                                        <input type="text" class="col-1 text-center" id="qty" name="qty" value="1"
                                            readonly>


                                        <input type="submit" id="plus" name="plus" value="+">
                                    </form>
                                </td>
                                <td class="col-4 text-center align-bottom">
                                    <div class="row row-cols-2">
                                        <div class="col-8">
                                            <h3 class="card-text">
                                                <%= product.p_price %> €
                                            </h3>
                                        </div>
                                        <div class="col-4">
                                            <a class="btn btn-primary" href="/remove/<%=product.id %> ">Remove</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                                <% } %>
                </tbody>
            </table>
            <%}else { %>
                <h1 class="text-center mt-5">Your cart is empty.</h1>
                <%} %>


        </div>

        <script>
            function minus() {
                let minusQty = document.getElementById('qty').value;
                if (minusQty == 1) {
                    window.alert("Quantity can't be lower than 1.")
                    console.log(minusQty);
                } else {
                    document.getElementById('qty').value = parseInt(minusQty) - 1;
                    console.log(parseInt(minusQty) - 1);
                }

            }

            function plus() {
                let plusQty = document.getElementById('qty').value;

                document.getElementById('qty').value = parseInt(plusQty) + 1;
                //console.log(products);


            }

        </script>