<% layout('layouts/boilerplate') %>


 
<div class="row row-cols-2 mt-5 g-0">
    <div class="col-7 ms-auto me-auto bg-info">
        <div class="info mt-3 mb-4">

        </div>



            <h3>Choose payment method</h1>
            <div id="paypal-button-container" class="d-flex m-2 p-2 bg-danger mt-5"></div>

    </div>

        <div class="col-5">
            <div class="card">
                <div class="d-flex justify-content-between p-2">
                    <h3 class="d-inlines">Shipping Cart</h3>
                    <p class="d-inline-flex"><a href="/cart">Edit</a></p>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                                <% for(product of cart) {%>
                            <tr>
                                <td><%= product.name%></td>
                                <td><%= product.qty %></td>
                                <td><%= product.price %> €</td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div class="col-8 text-start">
                    <ul>
                        <li>Subtotal:</li>
                        <li>Shipping Fee</li>
                        <li><strong>Order Total</strong></li>
                    </ul>
                </div>
                <div class="col-4 d-flex flex-column text-end">
                    <strong>0.00 €</strong>
                    <strong>0.00 €</strong>
                    <strong><%= total %> €</strong>
                </div>
                </div>
                </div>
            </div>

        </div>
</div>

    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script
        src="https://www.paypal.com/sdk/js?client-id=ATpmOXic3gB4etKjIK4N2cS6je98sPSUTwuGvTA2Rm9CPxGL9UUlKpsM0xLWH4Y_HCK3XFK1chEm_m6f&currency=EUR"></script>
    <!-- Set up a container element for the button -->

    <script>
        paypal.Buttons({
            // Order is created on the server and the order id is returned
            createOrder: (data, actions) => {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '<%= total %>'
                        }
                    }]
                });
            },
            // Finalize the transaction on the server after payer approval
            onApprove: (data, actions) => {
                return actions.order.capture().then(function (orderData) {
                    // Successful capture! For dev/demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    const transaction = orderData.purchase_units[0].payments.captures[0];
                })
            }

            // Successful capture! For dev/demo purposes:

            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  window.location.href = 'thank_you.html';       
        }).render('#paypal-button-container');
    </script>