<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <div id="container" class="container">
        <%# include('../../flash') %>
        
    </div>
    <h1>Successfully payed</h1> 
    <div class="div">

        <a href="/" class="btn btn-primary ">Home</a>
    </div>
    <% for(data of myOrder) {%>
       Tracking Number <%= data.trackingNum %>
       Name <%= data.name %>
       Country <%= data.country %>
       city <%= data.city %>
       Zip <%= data.zip %>
       Street <%= data.street %>
       Email <%= data.email %>
        <% } %>
    
    

    <script src="https://js.stripe.com/v3/"></script>
    <script>
       
        
    </script>
</body>
</html>