<% layout('layouts/boilerplate') %>
    <% include('../../flash') %>
    <link rel="stylesheet" href="css/redirect.css">
    <div id="container" class="container mt-5 text-center justify-content-center">
        <h1>Podatki o naročilu</h1>

        <div class="row row-cols-1 row-cols-md-2 d-flex flex-column flex-md-row shadow">
            <div class="col">
                <% for(data of myOrder) {%> <br>
                <div id="orderInfo" class="card ms-auto me-auto border border-1">
                    <div class="card-header">
                        <div class="row p-1 border-bottom border-2 text-center"><strong>Številka za sledenje naročila</strong></div>
                        <div class="col p-2 text-start"><%= data.trackingnum %></div>
                    </div>
                    <div class="card-body p-0">
                        <div class="row p-1 border-bottom border-2 text-center"><strong>Podatki za dostavo</strong></div>
                        <div class="col p-2 text-start"><%= data.country %></div>
                        <div class="col p-2 text-start"><%= data.city %></div>
                        <div class="col p-2 text-start"><%= data.street %></div>
                        <div class="col p-2 text-start"><%= data.zip %></div>
                    </div>
                    <div class="card-footer p-0">
                        <div class="row p-1 border-bottom border-2 text-center"><strong>Kontakt</strong></div>
                        <div class="col p-2 text-start"><%= data.name %></div>
                        <div class="col p-2 text-start"><%= data.phone %></div>
                        <div class="col p-2 text-start"><%= data.email %></div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="col">
                <table class="table border mt-4">
                    <tr>
                        <th>Izdelek</th>
                        <th>Količina</th>
                        <th>Cena</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-start"><strong>Skupaj</strong></td>
                            <td><strong>12.99</strong> €</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <script src="https://js.stripe.com/v3/"></script>
