<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/showOrders.css">


<section>
    <table id="tableOrders" class="table table-responsive table-hover table-secondary table-bordered align-middle text-center w-100 mt-5">
        <thead>
            <tr>
                <th>#</th>
                <th>Order Id</th>
                <th>Country</th>
                <th>Buyer</th>
                <th>Order date</th>
                <th>Amount</th>
                <th>Print</th>
                <th>Finish</th>
            </tr>
        </thead>
        <tbody>
            <% for(order of orders) {%>
                <% if(order.sended === 'false') {%>
                    <tr class="buttons">
                        <td><input type="checkbox" name="selected" value="<%= order.trackingnum %>"></td>
                        <td><%= order.trackingnum %></td>
                        <td><%= order.country %></td>
                        <td><%= order.name %></td>
                        <td><%= order.date %></td>
                        <td><%= order.costs %></td>
                        <td><button class="printBtn btn btn-success btn-sm" name="<%= order.trackingnum %>" disabled onclick="forPrint()">Print</button></td>
                        <td id="finishBtn">
                            <form action="/orderStatus/<%= order.trackingnum %>" method="POST">
                                <button id="finish" class="btn btn-sm btn-secondary btn-rounded ms-auto me-auto" name="<%= order.trackingnum %>">Finish</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>

    <article id="bill" class="w-100">
        <div class="row w-100 p-2 m-2">
            <h1>salestershop.si</h1>
        </div>
        <div class="row row-cols-3 d-flex flex-row w-100 ms-auto me-auto">
            <div class="col-3 d-flex flex-column">
                <p>Prejemnik:</p>
                <p id="buyer">Ermin Joldić</p>
                <p id="street">Goriška 22</p>
                <p id="city">2000, Maribor</p>
                <p id="country">SI - Slovenia</p>
            </div>
            <div class="col-3 d-flex flex-column">
                <p>Pošiljatelj</p>
                <p>Salestershop</p>
                <p>Goriška 22</p>
                <p>2000, Maribor</p>
                <p>SI - Slovenia</p>
            </div>
            <div class="col-6 d-flex flex-column">
                <p>Račun št: <strong id="invoiceNumber">1234</strong></p>
                <p>Datum naročila: <strong id="orderDate">01.01.2024</strong></p>
                <p>Kraj izdaje: <strong>Maribor</strong></p>
            </div>
        </div>
        <table id="invoice" class="table table-bordered border-dark text-center w-100 mt-2">
            <thead class="bg-secondary">
                <tr>
                    <th class="p-1">Naziv blaga / storitve</th>
                    <th class="p-1">Cena</th>
                    <th class="p-1">Kol.</th>
                    <th class="p-1">% DDV</th>
                    <th class="p-1">Znesek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">Bruto</td>
                    <td><strong id="bruto">24.99 €</strong></td>
                </tr>
                <tr>
                    <td colspan="4">Popust</td>
                    <td><strong>0.00 €</strong> </td>
                </tr>
                <tr>
                    <td colspan="4">Skupaj</td>
                    <td><strong id="neto">24.99 €</strong> </td>
                </tr>
            </tbody>

        </table>
        <div class="row w-100 text.center">
            <p class="text-center p-0">Podjetje ni davčni zavezenec.</p>
        </div>
    </article>

</section>



<script>

    const orders = JSON.parse('<%- ordersData %>');
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    const btns = document.querySelectorAll('.printBtn');
    const finishBtns = document.querySelectorAll('#finish');
    console.log(btns.name)
    const table = document.getElementById("invoice");
    const tableRows = table.rows.length - 1;
    let selected;
    for(btn of finishBtns){
        btn.style.display = 'none';
    }
    //console.log("This is table: ", orders.orders[0])

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('click', function() {
            if(checkboxes.length > 1){
                if(checkbox.checked){
                    checkboxes.forEach(cb => {
                        console.log("this is cb: ", cb)
                        if (cb !== checkbox) {
                            cb.checked = false;
                            selected = checkbox.value;
                            const rows = table.rows.length - 4;
                            if(rows >= 1){
                            for(let i = 0; i < rows; i++){
                                table.deleteRow(1)
                            }
                        }
                            btns.forEach(btn =>{
                                if(btn.name === checkbox.value){
                                for(order of orders.orders){
                                    if(checkbox.value === order.trackingnum){
                                        const dateOrder = order.date;
                                        document.getElementById('buyer').textContent = order.name;
                                        document.getElementById('street').textContent = order.street;
                                        document.getElementById('city').textContent = order.zip + ',' + order.city;
                                        document.getElementById('country').textContent = order.country + ' ' + '-' + ' ' + 'Slovenia';
                                        document.getElementById('invoiceNumber').innerHTML = order.invoice;
                                        document.getElementById('orderDate').textContent = order.date;
                                        document.getElementById('neto').textContent = order.costs + ' ' + '€';
                                        for(let i = 0; i < order.products.length; i++){
                                            let row = table.insertRow(i + 1);
                                            let cell1 = row.insertCell(0)
                                            let cell2 = row.insertCell(1)
                                            let cell3 = row.insertCell(2)
                                            let cell4 = row.insertCell(3)
                                            let cell5 = row.insertCell(4)
                                            const size = ((order.products[i].size) ? '#' + order.products[i].size : ' ');
                                            const color = ((order.products[i].color) ? '#' + order.products[i].color : ' ');
                                            cell1.textContent= order.productNames[i].name + ' ' + size + ' ' + color;
                                            cell2.textContent= order.productNames[i].neto_price;
                                            cell3.textContent= order.products[i].qty;
                                            cell4.textContent= '0.00 €';
                                            cell5.textContent= parseFloat(order.productNames[i].neto_price) * parseInt(order.products[i].qty);
                                        }
                                    }
                                }
                                const afterUpdateTable = document.getElementById('invoice');
                                const afterRows = afterUpdateTable.rows.length - 4;
                                let bruto;
                                for(let i = 1; i <= afterUpdateTable.rows.length - 4; i++){
                                    console.log(afterUpdateTable.rows[i].cells[4].innerText)
                                    if(bruto){
                                        bruto = parseFloat(bruto) + parseFloat(afterUpdateTable.rows[i].cells[4].innerText);
                                    }else{
                                        bruto = afterUpdateTable.rows[i].cells[4].innerText;
                                    }
                                }
                                console.log("This is bruto: ", bruto)
                                document.getElementById('bruto').textContent = bruto + ' ' + '€';
                                btn.removeAttribute('disabled')

                            }else{
                                    btn.setAttribute('disabled', 'true');
                                }
                            })
                        }
                    });
                }
                else if(!checkbox.checked){
                btns.forEach(btn =>{
                    btn.setAttribute('disabled','true')
                })
                const rows = table.rows.length - 4;
                for(let i = 0; i < rows; i++){
                    console.log("delam")
                    table.deleteRow(1)
                }
            }
            }else{
                btns.forEach(btn =>{
                            if(btn.name === checkbox.value){
                            for(order of orders.orders){
                                if(checkbox.value === order.trackingnum){
                                    selected = checkbox.value;
                                    const dateOrder = order.date;
                                    document.getElementById('buyer').textContent = order.name;
                                    document.getElementById('street').textContent = order.street;
                                    document.getElementById('city').textContent = order.zip + ',' + order.city;
                                    document.getElementById('country').textContent = order.country + ' ' + '-' + ' ' + 'Slovenia';
                                    document.getElementById('invoiceNumber').innerHTML = order.invoice;
                                    document.getElementById('orderDate').textContent = order.date;
                                    document.getElementById('neto').textContent = order.costs + ' ' + '€';
                                    for(let i = 0; i < order.products.length; i++){
                                        let row = table.insertRow(i + 1);
                                        let cell1 = row.insertCell(0)
                                        let cell2 = row.insertCell(1)
                                        let cell3 = row.insertCell(2)
                                        let cell4 = row.insertCell(3)
                                        let cell5 = row.insertCell(4)
                                        const size = ((order.products[i].size) ? '#' + order.products[i].size : ' ');
                                        const color = ((order.products[i].color) ? '#' + order.products[i].color : ' ');
                                        cell1.textContent= order.productNames[i].name + ' ' + size + ' ' + color;
                                        cell2.textContent= order.productNames[i].neto_price;
                                        cell3.textContent= order.products[i].qty;
                                        cell4.textContent= '0.00 €';
                                        cell5.textContent= parseFloat(order.productNames[i].neto_price) * parseInt(order.products[i].qty);
                                    }
                                }
                            }
                            const afterUpdateTable = document.getElementById('invoice');
                            const afterRows = afterUpdateTable.rows.length - 4;
                            let bruto;
                            for(let i = 1; i <= afterUpdateTable.rows.length - 4; i++){
                                console.log(afterUpdateTable.rows[i].cells[4].innerText)
                                if(bruto){
                                    bruto = parseFloat(bruto) + parseFloat(afterUpdateTable.rows[i].cells[4].innerText);
                                }else{
                                    bruto = afterUpdateTable.rows[i].cells[4].innerText;
                                }
                            }
                            console.log("This is bruto: ", bruto)
                            document.getElementById('bruto').textContent = bruto + ' ' + '€';
                            btn.removeAttribute('disabled')

                        }else{
                                btn.setAttribute('disabled', 'true');
                            }
                        })
                console.log("this is checkbox: ",checkbox)
            }
        });
    });

    function forPrint(){
        for(const finishBtn of finishBtns){
            if(selected === finishBtn.name){
                finishBtn.style.display = 'block';

                window.print();
            }
        }
    };

</script>