<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/showOrders.css">


<section>
    <table class="table table-responsive table-hover table-secondary table-bordered align-middle text-center w-100 mt-5">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Country</th>
                <th>Buyer</th>
                <th>Order date</th>
                <th>Amount</th>
                <th>Print</th>
            </tr>
        </thead>
        <tbody>
            <% for(order of orders) {%>
                <tr>
                    <td><%= order.trackingnum %></td>
                    <td><%= order.country %></td>
                    <td><%= order.name %></td>
                    <td><%= order.date %></td>
                    <td><%= order.costs %></td>
                    <td><button class="btn btn-success btn-sm">Print</button></td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <article id="invoice" class="mt-5 w-100">
        <div class="row w-100 p-2 m-2">
            <h1>salestershop.si</h1>
        </div>
        <div class="row row-cols-3 d-flex flex-row w-100 ms-auto me-auto">
            <div class="col d-flex flex-column">
                <p>Prejemnik:</p>
                <p>Ermin Joldić</p>
                <p>Goriška 22</p>
                <p>2000, Maribor</p>
                <p>SI - Slovenia</p>
            </div>
            <div class="col d-flex flex-column">
                <p>Pošiljatelj</p>
                <p>Salestershop</p>
                <p>Goriška 22</p>
                <p>2000, Maribor</p>
                <p>SI - Slovenia</p>
            </div>
            <div class="col d-flex flex-column">
                <p>Račun št: <strong>1234</strong></p>
                <p>Datum naročila: <strong>01.01.2024</strong></p>
                <p>Kraj izdaje: <strong>Maribor</strong></p>
            </div>
        </div>
        <table class="table table-bordered border-dark text-center w-100 mt-5">
            <thead class="bg-secondary">
                <tr>
                    <th class="p-1">Naziv blaga / storitve</th>
                    <th class="p-1">Cena</th>
                    <th class="p-1">Kol.</th>
                    <th class="p-1">% DDV</th>
                    <th class="p-1">Znesek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-0">Blago</td>
                    <td class="p-0">Cena</td>
                    <td class="p-0">1</td>
                    <td class="p-0">0.00 €</td>
                    <td class="p-0">24.99 €</td>
                </tr>
                <tr>
                    <td class="p-1" colspan="4">Bruto</td>
                    <td class="p-1"><strong>24.99 €</strong></td>
                </tr>
                <tr>
                    <td class="p-1" colspan="4">Popust</td>
                    <td class="p-1"><strong>0.00 €</strong> </td>
                </tr>
                <tr>
                    <td class="p-1" colspan="4">Skupaj</td>
                    <td class="p-1"><strong>24.99 €</strong> </td>
                </tr>
            </tbody>

        </table>
    </article>
</section>



<script>

    const orders = JSON.parse('<%- ordersData %>');
    for(order of orders.orders){
        console.log(order);
    }
</script>