<% layout('layouts/boilerplate') %>
    <title> Salester-Shop</title>


    <div class="row">

        <% for(let info of shirts) {%>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card">
                    <div class="card-header text-center">
                        <a href="/product/<%= info.id %> "> <img class="img-fluid" src="<%= info.p_imgdestination[0] %>"
                                alt="Here goes product img" style="width: 22rem; height: 28rem;"></a>
                    </div>
                    <div class="card-body p-3">
                        <h3 class="d-inline">
                            <%= info.p_name %>
                        </h3>
                        <h5 class="d-inline">
                            - <%= info.p_desc %>
                        </h5>
                    </div>
                    <div class="card-footer p-3">
                        <h2>
                            <%= info.p_price %> €
                        </h2>
                    </div>
                </div>
            </div>
            <% } %>
    </div>