<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/show.css">
   
    <div id="main-row" class="row row-cols-2 d-flex flex-row ms-auto me-auto mt-5">

        <% for(let info of shirts) {%>
            <div id="col1" class="p-0 m-0">
                <div id="carouselExampleControls" class="carousel slide m-0">
                    <div id="carousel" class="carousel-inner text-center">
                        <% info.links.forEach((img, i)=>{%>
                            <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                                <img id="card-img" class="img-fluid" id="topImg" alt="" src="<%= img %>">
                            </div>
                            <% }) %>
                            
                    </div>
                    
                    <% if(info.links.length> 1) {%>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev" data-bs-theme="dark">
                            <span id="prevBtn" class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <% } %>
                        
                </div>

            </div>

            <div id="col2" class="justify-content-center">
                <div class="infoData mt-5 text-center">
                    <h1 id="p_name">
                        <%= info.name %>
                    </h1>
                    <h3>
                        <%= info.description %>
                    </h3>
                    
                    <div class="priceBtn d-inline-flex flex-row mt-5 justify-content-center align-items-center btn btn-outline-success">
                        <h1 id="p_price" class="d-inline-flex">
                            <%= info.neto_price %> €
                        </h1>
                        <p class="d-flex m-0"><strong> + Brezplačna poštnina</strong></p>
                    </div>

                    <div class="velikost mt-5">

                        <form action="/add-to-cart" method="post" class="text-center ms-auto me-auto">
                            <div class="add-to-cart mt-5" style="margin-bottom: 10vh;">
                                
                                    <div class="row text-left mb-5">
                                        <div id="colorSection" class="ms-auto d-inline-flex">
           
                                        </div>
                                    </div>

                                    <div class="row mt-5 mb-5">
                                        <div id="sizeSection">
                                            <!-- Sizes for the selected color will be dynamically added here -->
                                        </div>
                                    </div>


                                <input type="hidden" id="p_id" name="product_id" value="<%= info.id %>">
                                <input type="hidden" id="p_sku" name="product_sku" value="">
                                <input type="hidden" id="p_name" name="product_name" value="<%= info.name %>">
                                <input type="hidden" id="p_color" name="product_color" value="">
                                <input type="hidden" id="p_size" name="product_size" value="">
                                <input type="hidden" id="p_price" name="product_price" value="<%= info.neto_price %>">
                                <button type="submit" id="btn" class="btn btn-primary ms-auto me-auto">Dodaj v
                                    Košarico</button>
                        </form>
                        </div>
                    </div>

                </div>
            </div>
          </div>
          <div class="more-imgs text-center">
            <h4><%= info.info %></h4>
          </div>
          <% } %>
    <div id="next-row" class="row m-0 p-0">
      
      <picture id="picture" class="m-0 p-0">
        <% for(images of shirts) {%>
          <% images.links.forEach((img)=>{%>
              <img src="<%=img %>" alt="" class="img-fluid">
            <% }) %>
          <% } %>

      </picture>

    </div>

    <div id="other-row" class="row">
      <div class="info text-center">
        <p>Here will be more random products</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        let btnInfo = document.getElementById('btn');
        btnInfo.setAttribute('disabled', 'true');
        document.addEventListener('DOMContentLoaded', function () {
        const colorSection = document.getElementById('colorSection');
        const sizeSection = document.getElementById('sizeSection');
        const products = JSON.parse('<%- productsJSON %>');

        function handleColors(colors) {
           colors.forEach((color) => {
      const colorDiv = document.createElement('div');
      colorDiv.classList.add('color');
      colorDiv.setAttribute('data-color', color.color);
      colorDiv.textContent = color.color;
      
      colorDiv.addEventListener('click', function () {
        const selectedColor = this.getAttribute('data-color');
        handleColorSelection(selectedColor);
      });
      
      colorSection.appendChild(colorDiv);
    });

    if (colors.length === 1) {
      // Automatically select the first color if there's only one color available
      const firstColorDiv = colorSection.querySelector('.color');
      const firstColor = firstColorDiv.getAttribute('data-color');
      handleColorSelection(firstColor);
    }
        }

        let selectedColorDiv = null; // Variable to keep track of the selected color div

function handleColorSelection(color) {
  if (selectedColorDiv) {
    // Remove the previous selected class
    selectedColorDiv.classList.remove('selected');
  }

  // Add selected class to the clicked color div
  const colorDiv = colorSection.querySelector(`[data-color="${color}"]`);
  colorDiv.classList.add('selected');
  selectedColorDiv = colorDiv;
  document.getElementById('p_color').value = selectedColorDiv.innerText;
  // Call the function to render sizes for the selected color
  renderSizes(color);
}
      
        function renderSizes(color) {
          const selectedProduct = products.find((product) => product.color === color);
      
          if (selectedProduct) {
            const event = new CustomEvent('sizesUpdated', { detail: selectedProduct.size });
            window.dispatchEvent(event);
          }
        }
        window.addEventListener('sizesUpdated', function (event) {
          const size = event.detail;
          if (size.length < 2) {
            const sizeDivs = [];
          sizeSection.innerHTML = '';
          const sizeDiv = document.createElement('div');
            sizeDiv.classList.add('size');
            sizeDiv.textContent = size[0].size;
            sizeDiv.setAttribute('product-sku', size[0].sku);
            sizeDivs.push(sizeDiv)
            sizeSection.appendChild(sizeDiv);
        // Automatically select the first size if there's only one size available
        const firstSizeDiv = sizeSection.querySelector('.size');
        firstSizeDiv.classList.add('selected');
        const firstSize = firstSizeDiv.textContent;
        const firstSku = firstSizeDiv.getAttribute('product-sku');
        document.getElementById('p_size').value = firstSize;
        document.getElementById('p_sku').value = firstSku;
      }else{
          const sizeDivs = [];
          sizeSection.innerHTML = ''; // Clear previous sizes
      
          size.forEach((sizes) => {
            const sizeDiv = document.createElement('div');
            sizeDiv.classList.add('size');
            sizeDiv.textContent = sizes.size;
            sizeDiv.setAttribute('product-sku', sizes.sku);
      
            sizeDiv.addEventListener('click', function () {
              const selectedSize = this.textContent;
              const selectedSku = this.getAttribute('product-sku');
              
              sizeDivs.forEach((div) =>{
                if(div !== this){
                  div.classList.remove('selected');
                }
              })
              // Toggle the 'selected' class on the clicked size div
              this.classList.toggle('selected');
              
            document.getElementById('p_size').value = selectedSize;
            document.getElementById('p_sku').value = selectedSku;
           // console.log(selectedSize);  
           // console.log(selectedSku);  
            if(selectedSize && selectedSku){
              btnInfo.removeAttribute('disabled');
              console.log('working');
            }else{
              btnInfo.setAttribute('disabled', 'true');
              console.log('else working');

            }
            //addToCart(selectedColor, selectedSize);
            });
            sizeDivs.push(sizeDiv)
            sizeSection.appendChild(sizeDiv);
          });
        }
          
        });
      
        handleColors(JSON.parse('<%- productsJSON %>'));
      
        const colorDivs = document.querySelectorAll('.color');
      
        colorDivs.forEach((colorDiv) => {
          colorDiv.addEventListener('click', function () {
            const selectedColor = this.getAttribute('data-color');
            renderSizes(selectedColor);
          });
        });
      });

      


    </script>