<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/show.css">

<div class="row row-cols-2 d-flex flex-column flex-lg-row ms-auto me-auto">
    <div class="col w-100 col-lg-5 bg-info">
        <% for(let info of shirts) {%>
            <div id="carouselExampleControls" class="carousel slide">
                <div id="carousel" class="carousel-inner text-center">
                    <% info.p_imgdestination.forEach((img, i)=>{%>
                        <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                            <img class="img-fluid" alt="" src="<%= img %>" style="max-height: 32rem; width: 500px; object-fit:cover; object-position: center;">
                        </div>
                        <% }) %>
                </div>

                <% if(info.p_imgdestination.length> 1) {%>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>
    
            <% } %>
    </div>

    <div class="col w-100 col-lg-7 bg-warning justify-content-center">
        <div class="infoData mt-5 text-center">
            <% for(let info of shirts) {%>
                
                <h1 id="p_name">
                    <%= info.p_name %>
                </h1>
                <h3>
                    <%= info.p_fulldesc %>
                </h3>
                <div class="priceBtn d-flex flex-row mt-5 justify-content-center align-items-center">
                    <h2 id="p_price" class="d-inline-flex">
                        <%= info.p_price %> €
                    </h2> <p class="d-flex m-0"> + Brezplačna poštnina</p>
                </div>
                <div class="velikost mt-5">
                <p>Velikost na voljo</p>
                <div class="sizes d-flex flex-row flex-wrap mt-2 text-center justify-content-center">
                <% for (let i = 2; i < Object.values(size).length - 2; i++){%>
                    <% if(Object.values(size)[i] > 0) {%>
                        <div class="select-size border m-1 p-1">
                            <span><%= Object.keys(size)[i] %></span>
                        </div>

                           <% } %>
                            <% } %>
                 </div>
                            <div class="add-to-cart mt-5" style="margin-bottom: 10vh;">
                                <form action="/add-to-cart" method="post">
                                    <input type="hidden" id="p_id" name="product_id" value="<%= info.id %>">
                                    <input type="hidden" id="p_name" name="product_name" value="<%= info.p_name %>">
                                    <input type="hidden" id="p_size" name="product_size" value="<%= info.p_size %>">
                                    <input type="hidden" id="p_price" name="product_price" value="<%= info.p_price %>">
                                    <button class="btn btn-primary">Dodaj v Košarico</button>
                                </form>
                            </div>
                    <% } %>
            </div>
    </div>
</div>

<!--
    <div id="row" class="row row-cols-2 mt-5 no-gutters m-0 p-0">
        <div id="col" class="col-lg-5">
            
        </div>
            <div class="col-lg-7 ms-auto me-auto">
                <div class="infoData ms-5 mt-5">
                <% for(let info of shirts) {%>
                    
                    <h1 id="p_name">
                        <%= info.p_name %>
                    </h1>
                    <h3>
                        <%= info.p_fulldesc %>
                    </h3>
                    <div class="priceBtn d-flex flex-row mt-5 align-items-center">
                        <h2 id="p_price" class="d-inline-flex">
                            <%= info.p_price %> €
                        </h2> <p class="d-flex m-0"> + Brezplačna poštnina</p>
                    </div>
                    <div class="velikost mt-5">
                    <p>Velikost na voljo</p>
                    <div class="sizes d-flex flex-row flex-wrap mt-2">
                    <% for (let i = 2; i < Object.values(size).length - 2; i++){%>
                        <% if(Object.values(size)[i] > 0) {%>
                            <div class="select-size border m-1 p-1">
                                <span><%= Object.keys(size)[i] %></span>
                            </div>

                               <% } %>
                                <% } %>
                     </div>
                                <div class="add-to-cart mt-5">
                                    <form action="/add-to-cart" method="post">
                                        <input type="hidden" id="p_id" name="product_id" value="<%= info.id %>">
                                        <input type="hidden" id="p_name" name="product_name" value="<%= info.p_name %>">
                                        <input type="hidden" id="p_size" name="product_size" value="<%= info.p_size %>">
                                        <input type="hidden" id="p_price" name="product_price" value="<%= info.p_price %>">
                                        <button class="btn btn-primary">Dodaj v Košarico</button>
                                    </form>
                                </div>
                        <% } %>
                </div>
            </div>
            </div>

    </div>
-->

 




   