<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/allPages.css">
    <title><%= shirts.name%> - <%= shirts.info %></title>
    <div id="top-row" class="row row-cols-2 d-flex flex-row ms-auto me-auto mt-5">
            <div id="col1" class="p-0 m-0">
                <div id="carouselExampleControls" class="carousel slide m-0">
                    <div id="carousel" class="carousel-inner text-center">
                        <%shirts.links.forEach((img, i)=>{%>
                            <div id="item" class="carousel-item <%= i === 0 ? 'active' : '' %> " data-num= '<%= i%>'>
                                <img class="img-fluid" id="topImg" alt="" src="<%= img %>">
                            </div>
                            <%}) %>
                    </div>
                    <% if(shirts.links.length> 1) {%>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev" data-bs-theme="dark">
                            <span id="prevBtn" class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <% } %>
                </div>

            </div>

            <div id="col2" class="justify-content-center">
                <div class="infoData mt-2 mb-5 ms-0 ms-md-5">
                    <h1 id="p_name" class="mb-5">
                        <%= shirts.name %>
                    </h1>
                    <h3 class="mt-5">
                        <%= shirts.description %>
                    </h3>

                    <div class="priceBtn d-flex flex-column mt-5 justify-content-center align-items-left">
                      <h1 id="p_price" class="col btn border border-2 border-dark mt-2">
                          <strong><%= shirts.neto_price %> €</strong>
                        </h1>
                    </div>


                    <div class="velikost mt-5">
                        <form action="/add-to-cart" method="post" class=" ms-auto me-auto">
                            <div class="add-to-cart mt-5" style="margin-bottom: 5vh;">
                                    <div id="colorRow" class="row text-left mb-5">
                                        <div id="colorSection">

                                        </div>
                                    </div>

                                    <div id="sizeRow" class="row mt-5 mb-5">
                                        <div id="sizeSection">
                                            <!-- Sizes for the selected color will be dynamically added here -->
                                        </div>
                                    </div>


                                <input type="hidden" id="p_id" name="product_id" value="<%= shirts.id %>">
                                <input type="hidden" id="p_invt_sku" name="invt_sku" value="<%= shirts.inventory_sku %>">
                                <input type="hidden" id="p_sku" name="product_sku" value="">
                                <input type="hidden" id="p_name" name="product_name" value="<%= shirts.name %>">
                                <input type="hidden" id="p_color" name="product_color" value="">
                                <input type="hidden" id="p_size" name="product_size" value="">
                                <input type="hidden" id="p_price" name="product_price" value="<%= shirts.neto_price %>">
                                <button type="submit" id="btn" class="btn btn-lg m-0">Dodaj v
                                    Košarico</button>
                            </div>
                        </form>
                </div>

            </div>
            <%# } %>
    </div>
    </div>

    <div id="badgeWrapper" class="row justify-content-evenly mb-5">
            <div class="col btn p-2">
              <div class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                     <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                   </svg>
              </div>
              <div class="">
                Hitra in varna dostava
              </div>
            </div>

            <div class="col btn p-2 align-items-center">
              <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                    <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                    <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
              </div>
                <div>
                  Varni načini plačila
                </div>
            </div>
          <div class="col btn p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
              <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
              <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
            </svg>
            <div>Zanesljiv in kvaliteten nakup</div>
          </div>
            <div class="col btn p-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/>
              </svg>
              <div>100% jamstvo zadovoljstva</div>
          </div>
    </div>

    <div id="next-row" class="row m-0 p-0 w-100">
      <picture id="picture" class="col m-0 p-0">
          <% shirts.links.forEach((img)=>{%>
              <img src="<%= img %>" alt="" class="img-fluid">
            <% }) %>
      </picture>
    </div>

    <div id="other-row" class="row justify-content-center g-0">
      <% if(randomProducts.length >= 10) {%>
      <h1 class="text-center mb-3"> Druge stranke su izbrale</h1>
      <div id="carouselOut" class="slideshow-container">
      <% for(product of randomProducts) {%>
        <a class="showPageA" href="/product/<%= product.id %>">
          <div id="showPageCard" class="card">
            <div id="showPageHeader" class="card-header ms-auto me-auto" style="background-image: url(<%=product.links[0]%>);">
              <!--
              <img src="<%# product.links[0] %>" id="randomImg"  alt="Image">
                -->
            </div>
            <div id="showPageBody" class="card-body">
            <h3 class="d-inline"><%= product.name %> </h3> <br>
          </div>
          <div id="showPageFooter" class="card-footer">
              <h4> <%= product.neto_price %>  €</h4>
            </div>
          </div>
        </a>
        <%} %>
      </div>
      <%} %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        let btnInfo = document.getElementById('btn');
        btnInfo.setAttribute('disabled', 'true');
        let invt_sku = JSON.parse('<%- invt_SKU %>');
        let sub_cat = JSON.parse('<%- subCat %>');
        let metaData = JSON.parse('<%- dataMeta %>')
        document.addEventListener('DOMContentLoaded', function () {
          function addMeta(){
            const data = document.getElementsByTagName('head')[0];
            const thisUrl = window.location.href;
            const tittleMeta = document.createElement('meta');
            const descMeta = document.createElement('meta');
            const imageMeta = document.createElement('meta');
            const cardMeta = document.createElement('meta');
            const pageUrl = document.createElement('meta');
            descMeta.name = 'description';
            descMeta.content = `${metaData.desc}`;
            tittleMeta.setAttribute('property','og:title');
            tittleMeta.content = `${metaData.name} - ${metaData.info}`;
            imageMeta.setAttribute('property',"og:image");
            imageMeta.content = `${metaData.img}`;
            pageUrl.setAttribute('property', 'og:url')            //data.content = `${description}`
            pageUrl.content = `${thisUrl}`;         //data.content = `${description}`
            data.appendChild(descMeta)
            data.appendChild(tittleMeta)
            data.appendChild(imageMeta)
            data.appendChild(pageUrl)
          }
          addMeta();
          const colorSection = document.getElementById('colorSection');
          const sizeSection = document.getElementById('sizeSection');
          const products = JSON.parse('<%- productsJSON %>');
          const productsCat = JSON.parse('<%- checkCat %>');
          document.getElementById('p_invt_sku').value = invt_sku;
          if(sub_cat === 'Toys' || productsCat === 'Jewerly'){
            function handleColors(colors) {
              colors.forEach((color) => {
                const colorDiv = document.createElement('div');
                colorDiv.classList.add('color');
                colorDiv.setAttribute('data-color', color.color);
                colorDiv.setAttribute('data-sku', color.size[0].sku);
                colorDiv.textContent = color.color;
                colorDiv.addEventListener('click', function () {
                  const selectedColor = this.getAttribute('data-color');
                  handleColorSelection(selectedColor);
                  });
                colorSection.appendChild(colorDiv);
                });
              if (colors.length === 1) {
                // Automatically select the first color if there's only one color available
                const firstColorDiv = colorSection.querySelector('.color');
                const firstColor = firstColorDiv.getAttribute('data-color');
                handleColorSelection(firstColor);
              }
            }
            let selectedColorDiv = null; // Variable to keep track of the selected color div
            function handleColorSelection(color) {
              if (selectedColorDiv) {
                // Remove the previous selected class
                selectedColorDiv.classList.remove('selected');
              }
              // Add selected class to the clicked color div
              const colorDiv = colorSection.querySelector(`[data-color="${color}"]`);
              colorDiv.classList.add('selected');
              selectedColorDiv = colorDiv;
              let checkSku = selectedColorDiv.getAttribute('data-sku');
              let imgItems = document.getElementById('carousel')
              for(let j = 0; j < products.length; j++){
                if(products[j].size[0].sku === checkSku){
                  let removeClass = imgItems.getElementsByClassName('active');
                  removeClass[0].classList.remove('active');
                  let findImg = imgItems.querySelectorAll(`[src="${products[j].size[0].img_link[0]}"]`);
                  let active = findImg[0].parentNode;
                  active.classList.add('active');
                }
              }
              document.getElementById('p_color').value = selectedColorDiv.innerText;
              document.getElementById('p_sku').value = selectedColorDiv.getAttribute('data-sku');
              document.getElementById('btn').removeAttribute('disabled');
            };


              handleColors(JSON.parse('<%- productsJSON %>'));
            // End Test
          }
          else{
            function handleColors(colors) {
              colors.forEach((color) => {
                const colorDiv = document.createElement('div');
                colorDiv.classList.add('color');
                colorDiv.setAttribute('data-color', color.color);
                colorDiv.setAttribute('data-sku', color.size[0].sku);
                colorDiv.textContent = color.color;
                colorDiv.addEventListener('click', function () {
                  const selectedColor = this.getAttribute('data-color');
                  handleColorSelection(selectedColor);
                  });
                colorSection.appendChild(colorDiv);
                });
              if (colors.length === 1) {
                // Automatically select the first color if there's only one color available
                const firstColorDiv = colorSection.querySelector('.color');
                const firstColor = firstColorDiv.getAttribute('data-color');
                handleColorSelection(firstColor);
              }
            }
              let selectedColorDiv = null; // Variable to keep track of the selected color div

              function handleColorSelection(color) {
                if (selectedColorDiv) {
                  // Remove the previous selected class
                  selectedColorDiv.classList.remove('selected');
                }
                // Add selected class to the clicked color div
                const colorDiv = colorSection.querySelector(`[data-color="${color}"]`);
                colorDiv.classList.add('selected');
                selectedColorDiv = colorDiv;
                let checkSku = selectedColorDiv.getAttribute('data-sku');
                let imgItems = document.getElementById('carousel')
              for(let j = 0; j < products.length; j++){
                if(products[j].size[0].sku === checkSku){
                  let removeClass = imgItems.getElementsByClassName('active');
                  removeClass[0].classList.remove('active');
                  let findImg = imgItems.querySelectorAll(`[src="${products[j].size[0].img_link[0]}"]`);
                  let active = findImg[0].parentNode;
                  active.classList.add('active');
                }
              }
                document.getElementById('p_color').value = selectedColorDiv.innerText;
                // Call the function to render sizes for the selected color
                renderSizes(color);
              }

              function renderSizes(color) {
              const selectedProduct = products.find((product) => product.color === color);
              if (selectedProduct) {
                const event = new CustomEvent('sizesUpdated', { detail: selectedProduct.size });
                window.dispatchEvent(event);
              }
              }
                window.addEventListener('sizesUpdated', function (event) {
                  const size = event.detail;
                  if (size.length < 2) {
                    const sizeDivs = [];
                    sizeSection.innerHTML = '';
                    const sizeDiv = document.createElement('div');
                    sizeDiv.classList.add('size');
                    sizeDiv.textContent = size[0].size;
                    sizeDiv.setAttribute('product-sku', size[0].sku);
                    sizeDiv.setAttribute('invt-sku', invt_sku);
                    sizeDivs.push(sizeDiv)
                    sizeSection.appendChild(sizeDiv);
                    // Automatically select the first size if there's only one size available
                    const firstSizeDiv = sizeSection.querySelector('.size');
                    firstSizeDiv.classList.add('selected');
                    const firstSize = firstSizeDiv.textContent;
                    const firstSku = firstSizeDiv.getAttribute('product-sku');
                    document.getElementById('p_size').value = firstSize;
                    document.getElementById('p_sku').value = firstSku;
                    document.getElementById('btn').removeAttribute('disabled');
                  }
                  else{
                    const sizeDivs = [];
                    sizeSection.innerHTML = ''; // Clear previous sizes
                    size.forEach((sizes) => {
                      const sizeDiv = document.createElement('div');
                      sizeDiv.classList.add('size');
                      sizeDiv.textContent = sizes.size;
                      sizeDiv.setAttribute('product-sku', sizes.sku);
                      document.getElementById('btn').setAttribute('disabled', 'true');
                      sizeDiv.addEventListener('click', function () {
                        const selectedSize = this.textContent;
                        const selectedSku = this.getAttribute('product-sku');
                        sizeDivs.forEach((div) =>{
                          if(div !== this){
                            div.classList.remove('selected');
                          }
                        })
                        // Toggle the 'selected' class on the clicked size div
                        this.classList.toggle('selected');
                        document.getElementById('p_size').value = selectedSize;
                        document.getElementById('p_sku').value = selectedSku;
                        if(selectedSize && selectedSku){
                          btnInfo.removeAttribute('disabled');
                        }
                        else{
                          btnInfo.setAttribute('disabled', 'true');
                        }
                        //addToCart(selectedColor, selectedSize);
                        });
                          sizeDivs.push(sizeDiv)
                          sizeSection.appendChild(sizeDiv);
                        });
                  }
                });
                handleColors(JSON.parse('<%- productsJSON %>'));
                const colorDivs = document.querySelectorAll('.color');
                colorDivs.forEach((colorDiv) => {
                    colorDiv.addEventListener('click', function () {
                      const selectedColor = this.getAttribute('data-color');
                      renderSizes(selectedColor);
                    });
                  });
              }
          });
          
    </script>