<% layout('layouts/boilerplate') %>
    <div class="row row-cols-2 mt-5 no-gutters m-0 p-0 justify-content-center">
        <div class="col col-md-5  ms-auto me-auto">
            <% for(let info of shirts) {%>
                <div class="card">
                    <div id="carouselExampleControls" class="carousel slide">

                        <div class="carousel-inner">
                            <% info.p_imgdestination.forEach((img, i)=>{%>
                                <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                                    <img class="img-fluid" alt="" src="<%= img %>" style=" max-height: 350px">
                                </div>
                                <% }) %>
                        </div>

                        <% if(info.p_imgdestination.length> 1) {%>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <% } %>
                    </div>
                    <div class="card-footer">
                        <h1 id="p_price">
                            <%= info.p_price %> €
                        </h1>
                    </div>
                </div>
        </div>
        <% } %>
            <div class="col col-md-5 bg-danger ms-auto me-auto">
                <% for(let info of shirts) {%>
                    bilo kaj
                    <h1 id="p_name">
                        <%= info.p_name %>
                    </h1>
                    <%= info.p_fulldesc %>

                        <div class="testMe mt-5">
                            <form action="/add-to-cart" method="post">
                                <input type="hidden" id="p_id" name="product_id" value="<%= info.id %> ">
                            </form>
                            <a href="/add-to-cart/<%= info.id %> ">
                                <button class="btn btn-primary">Add to cart</button>
                            </a>
                        </div>
                        <% } %>
            </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>