<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/show.css">



    <!--NOVO dodaj input field to the every li element-->
    <p>Izberite barvo</p>
    <div class="row mb-2">
        <div class="col">
            <div class="input-group">
                <div class="grid-container">
                    <ul id="colors">
                        <% for(let s=0; s < colors.length; s++) {%>
                            <li data-value="<%= colors[s].color %>" class="grid-item border text-center"
                                onclick="colorClicked()">
                                <%= colors[s].color %>
                            </li>
                            <% } %>
                    </ul>
                    <input type="text" id="color" value="Bela" hidden>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="input-group" id="addGrid">
                <div class="grid-container">
                    <% for(let s=0; s < colors.length; s++) {%>
                        <ul name="sizes" id="<%= colors[s].color %>" style="display:none">
                            <% for(product of products) {%>
                                <% if(product.color==colors[s].color && product.qty> 0) {%>
                                    <li class="grid-item border text-center" data-value="<%= product.sku %>">
                                        <%= product.size %>
                                    </li>
                                    <% } %>
                                        <% } %>
                        </ul>
                        <% } %>
                </div>
            </div>
        </div>

    </div>

    <script>

        let choosenColor = []
        let colors = document.getElementById("colors").querySelectorAll('li');

        colors.forEach(function (item) {
            item.onclick = function (e) {
                let color = this.innerText;
                this.style.backgroundColor = 'red';
                this.style.backgroundColor = 'green';

                choosenColor.pop();
                choosenColor.push(color);
                document.getElementById('color').value = color;
                console.log(choosenColor, "choosen")

                let soze = document.getElementsByName("sizes")
                for (let i = 0; i < soze.length; i++) {
                    if (choosenColor[0] === soze[i].id) {

                        document.getElementById(choosenColor[0]).style.display = 'flex';
                    } else {
                        document.getElementById(soze[i].id).style.display = 'none';
                    }

                }
            }
        })
        function colorClicked() {
            console.log("zalakkkkkkk")

        }


    </script>